<header class="box-shadow sticky top-0 z-50 backdrop-blur-xl">
  <div
    class="custom-container flex justify-between py-3 px-3 sm:py-5 sm:px-6 items-center"
  >
    <a href="/" class="flex gap-3 items-center" id="logoLink">
      <div
        class="w-8 h-8 sm:w-10 sm:h-10 rounded-lg bg-gradient-to-br from-[#00ffff] to-[#bf00ff] flex items-center justify-center"
        bis_skin_checked="1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-activity w-5 h-5 sm:w-6 sm:h-6 text-white"
          aria-hidden="true"
        >
          <path
            d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"
          ></path>
        </svg>
      </div>
      <div class="flex flex-col">
        <h1
          class="text-glow neon text-base/normal font-normal hidden min-[460px]:block"
        >
          CryptoTracker
        </h1>
        <span class="text-sm hidden min-[460px]:block"
          >Real-time Market Data</span
        >
      </div>
    </a>
    <nav class="gap-2 flex">
      <a
        href="/"
        data-tab="dashboard"
        id="dashLink"
        class="py-2.5 px-5 flex gap-2.5 button-active items-center rounded-xl justify-center transition-transform duration-300 hover:scale-105"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 14V8.66667C10 8.48986 9.92976 8.32029 9.80474 8.19526C9.67971 8.07024 9.51014 8 9.33333 8H6.66667C6.48986 8 6.32029 8.07024 6.19526 8.19526C6.07024 8.32029 6 8.48986 6 8.66667V14"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M2 6.66666C1.99995 6.47271 2.04222 6.28108 2.12386 6.10514C2.20549 5.9292 2.32453 5.77319 2.47267 5.64799L7.13933 1.64799C7.37999 1.4446 7.6849 1.33301 8 1.33301C8.3151 1.33301 8.62001 1.4446 8.86067 1.64799L13.5273 5.64799C13.6755 5.77319 13.7945 5.9292 13.8761 6.10514C13.9578 6.28108 14 6.47271 14 6.66666V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V6.66666Z"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <span class="hidden sm:block">Dashboard</span>
      </a>
      <a
        href="/top100"
        data-tab="top-100"
        id="topLink"
        class="flex gap-2.5 py-2.5 px-5 items-center rounded-xl justify-center transition-transform duration-300 hover:scale-105"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.6667 4.66667H14.6667V8.66667"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.6666 4.66667L8.99998 10.3333L5.66665 7.00001L1.33331 11.3333"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="hidden sm:block">Top 100</span>
      </a>
    </nav>
  </div>
</header>
